body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  margin: 0;
  padding: 0;
  color: white;
  background: blue;
  height: 100px;
}

li {
  list-style-type: none;
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
}
